@color_bg: #0c1c31;
@img_bg: '/img/bg.jpg';
@min_width: 300px;
@max_width: 900px;
@font_size: 18px;
/*
@font_family_body: 'Cagliostro';
@font_family_header: 'Alice';
@font_family_emph: 'Montserrat';
@font_family_cursive: 'Merienda';
*/
@font_family_body: 'Asul';   /* sans serif */
@font_family_header: 'Alice';    /* serif */
@font_family_emph: 'Montserrat';   /* sans serif */
@font_family_cursive: 'Merienda';
